@font-face {
  font-family: 'SFProText';
  src: url(../assets/fonts/SFProText-Regular.otf) format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'SFProText';
  src: url(../assets/fonts/SFProText-Bold.otf) format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'SFProText';
  src: url(../assets/fonts/SFProText-Light.otf) format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'SFProText';
  src: url(../assets/fonts/SFProText-Light.otf) format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'SFProText';
  src: url(../assets/fonts/SFProText-Light.otf) format('opentype');
  font-weight: 300;
}
